<div class="app-content">
    <div class="app-content-header">
        <div class="container">
            <span class="app-title">Dashboard</span>
        </div>
    </div>
    <div class="app-content-body" style="height: 500px">
        <div class="container">

        </div>
    </div>
</div>